$accentColor = #235DC8  //默认主题颜色
$textColor = #333333  //默认字体颜色
$borderColor = #eaecef  //默认边框颜色
$codeBgColor = #282c34  //默认背景颜色
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
  opacity :1
}
.full-width-table table {
    display: table;
    width: 100%;
}
.border-box-contaier {
    height: 300px;
    padding: 30px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #282c34;
}
.decoration-contaier {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  overflow: hidden;
  color: #fff;
}
.chart-container {
  position: relative;
  background-color: #282c34;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7ec699;
  font-weight: 700;
  height: 300px;
}
.theme-default-content {
  max-width: 100% !important;
  box-sizing:border-box;
}
@media (max-width: 419px){
.theme-default-content {
  max-width: 100% !important;
  padding:0 !important;
  box-sizing:border-box;
}
.theme-default-content div[class*="language-"]{
  margin:0.85rem 0 !important;
}
.page{
  padding:1rem;
}
}

.content__default {
  width: 100%;
}
.page-nav {
  width: 100%;
  padding:0 !important;
}
